#{extends 'main.html' /} #{set title:'Spacebook' /}

<nav class="ui inverted menu">
	<a class="ui item" href="/home">Home</a> <a class="ui item"
		href="/members">Members</a> <a class="ui item" href="/profile">Profile</a><a
		class="ui item" href="/leaderboard">Leaderboard</a> <a class="ui item"
		href="/login">Logout</a>
</nav>

<section class="ui raised inverted blue segment">
	<div class="ui small header">${user.firstName}'s Profile</div>
	<section class="ui  three column grid segment">
		<div class="row">
			<div class="column">
				<div class="ui medium image">
					<img src="/profile/getpicture/${user.id}" />
				</div>
				<form action="/publicprofile/sendmessage/${user.id}" class="ui form"
					method="post">
					<h3>Subject:</h3>
					<div class="field">
						<textarea style="width: 300px; height: 80px;" name="subject"></textarea>
					</div>
					<h3>Message:</h3>
					<div class="field">
						<textarea name="messageText"></textarea>
					</div>
					<button class="ui fluid blue labeled submit icon button">
						<i class="icon edit"></i> Send
					</button>
				</form>
			</div>
			<div class="column">
				<div class="ui small header">Messages</div>
				<hr>
				<ul>
					#{list items:user.inbox, as:'message'}
					<li>${message.from.firstName} says... ${message.messageText}</li>
					#{/list}
				</ul>
			</div>
			<div class="column">
				<div class="ui small header">Personal Details</div>
				<hr>
				<p>First Name: ${user.firstName}</p>
				<p>Last Name: ${user.lastName}</p>
				<p>Nationality: ${user.nationality}</p>
				<p>Age: ${user.age}</p>
			</div>
		</div>
	</section>
</section>